<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Про бота</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Головна</a>
        <a href="/about">Про бота</a>
        <a href="/instructions">Інструкції</a>
      </nav>
    </header>
    <main>
      <h2>Функціональність бота</h2>
      <p>Наш телеграм-бот може:</p>
      <ul>
        <li>Конвертувати валюти з використанням API обмінного курсу</li>
        <li>Приймати платежі за допомогою Tranzzo</li>
        <li>
          Опрацьовувати запити користувачів і надавати актуальну інформацію
        </li>
      </ul>
    </main>
  </body>
</html>
і
