<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Telegram Bot</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Telegram Bot</h1>
      <nav>
        <a href="/">Головна</a>
        <a href="/about">Про бота</a>
        <a href="/instructions">Інструкції</a>
      </nav>
    </header>
    <main>
      <h2>Ласкаво просимо на сайт Telegram Bot!</h2>
      <p>
        Цей сайт присвячений телеграм-боту, який допомгає конвертувати валюту і
        приймати платежі.
      </p>
    </main>
  </body>
</html>
